{% extends "@Gsb/baseSommaireVisiteur.html.twig" %}
{% block contenu %}
<div id="accueil">
  <h3>Liste des frais forfait</h3>
  <table>
    <thead>
      <th>Quantité</th>
      <th>Date de modification</th>
      <th>Libelle du frais forfait</th>
      <th>Etat</th>
    </thead>
    {% for uneLFF in listLFF %}
      <tr>
        <td>{{uneLFF.quantite}}</td>
        <td>{{uneLFF.datemodification|date("m/d/Y")}}</td>
        <td>{{uneLFF.idfraisforfait.libelle}}</td>
        <td>{{uneLFF.idetat.id}}</td>
      </tr>
    {% endfor %}
  </table>
</br>
  {% if listLFHF != null %}
  <h3>Liste des frais hors forfait</h3>
  <table>
    <thead>
      <th>Raison</th>
      <th>Montant</th>
      <th>Date</th>
    </thead>
    {% for uneLFHF in listLFHF %}
      <tr>
        <td>{{uneLFHF.libelle}}</td>
        <td>{{uneLFHF.montant}}€</td>
        <td>{{uneLFHF.datemodif|date("m/d/Y")}}</td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <h3>Vous n'avez pas de frais hors forfait</h3>
  {% endif %}
</div>
{% endblock %}
