{% extends "@Gsb/baseSommaireVisiteur.html.twig" %}

{% block contenu %}
<table class="listeLegere">
  <caption>
    Descriptif des éléments hors forfait
  </caption>
  <tr>
    <td class="date">Date</td>
    <td class="libelle">Libellé</td>
    <td class="montant">Montant</td>
    <td class="supprimer">Supprimer</td>
  </tr>
  {% for unelignefraishorsforfait in leslignesfraishorsforfait %}
    <tr>
      <td>{{ unelignefraishorsforfait.date | date("Y-m-d")}}</td>
      <td>{{ unelignefraishorsforfait.libelle }}</td>
      <td>{{ unelignefraishorsforfait.montant }}</td>
      <td><a href="{{ path('gsb_supprimer_frais_hors_forfait', {'id' : unelignefraishorsforfait.id }) }}">Supprimer</a></td>
    </tr>
  {% else %}
      <tr>
        <td colspan="4">Il n'y a pas de lignes frais hors forfait</td>
      </tr>
  {% endfor %}
</table>
<div class="corpsForm">
    {{ form(form)}}
</div>
{% endblock %}
