{% extends "@Gsb/baseSommaireVisiteur.html.twig" %}

{% block contenu %}
{{ form_start(form)}}
<div class="corpsForm">
  <fieldset>
    <legend>
      Eléments forfaitisés
    </legend>
    <p>{{ form_row(form.label1)}}</p>
    <p>{{ form_row(form.label2)}}</p>
    <p>{{ form_row(form.label3)}}</p>
    <p>{{ form_row(form.label4)}}</p>
</div>
<div class="piedForm">
  <p>
  {{ form_row(form.modifier , { 'attr' : { 'style' : 'width:90px'}})}}
  </p>
</div>
{% endblock %}
