{% extends "@Gsb/base.html.twig" %}

{% block contenu %}
  {{ form_start(form) }}
  <div id = "contenu">
    <h2>Identification utilisateur</h2>
    {{ form_row(form.login,{ 'label' : "Login*"}) }}<br>
    {{ form_row(form.motDePasse, {'label' : "Mot de passe*"}) }}<br>
    {{ form_row(form.valider, { 'attr' : { 'style' : 'width:90px'}}) }}
  </div>
{% endblock %}
