<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>
    <title>Intranet du Laboratoire Galaxy-Swiss Bourdin</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{ asset('bundles/gsb/css/style.css') }}" />
    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico" />
  </head>
  <body>
    <div id="page">
    <div id="entete">
      <img src="{{ asset('bundles/gsb/images/logo.jpg') }}" id="logoGSB" alt="Laboratoire Galaxy-Swiss Bourdin" title="Laboratoire Galaxy-Swiss Bourdin" />
      <h1>Suivi du remboursement des frais</h1>
    </div>
    <div class="content">
      <div id="menuGauche">
        <div id="infosUtil">
          <h2></h2>
        </div>
        <ul id="menuList">
          <li>
            Visiteur :<br>
            {{app.session.get('nom')}} {{app.session.get('prenom')}}
          </li>
          <li class="smenu">
            <a href="{{ path('gsb_saisir_frais_forfait') }}"title="Saisie fiche de frais forfait ">Saisie fiche de frais forfait</a>
          </li>
          <li class="smenu">
            <a href="{{ path('gsb_saisir_frais_hors_forfait') }}"title="Saisie fiche de frais hors forfait ">Saisie fiche de frais hors forfait</a>
          </li>
          <li class="smenu">
            <a href="{{ path('gsb_liste_mois') }}" title="Consultation de mes fiches de frais">Mes fiches de frais</a>
          </li>
          <li class="smenu">
            <a href="{{path('deconnexion')}}" title="Se déconnecter">Déconnexion</a>
          </li>
        </ul>
      </div>
      <div id="contenu">
        {% block contenu %}{% endblock %}
      </div>
    </div>
  </body>
</html>
